<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bootstrap Side Menu</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<!-- Custom CSS -->
	
</head>
<body>
	
	
	<!-- Side Menu -->
	<div class="container-fluid">
		<div class="flex-wrap-nowrap">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand ml-auto" href="#">Admin</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
						Dropdown
					  </a>
					  <div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					  </div>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled">Disabled</a>
					</li>
				  </ul>
				  <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				  </form>
				</div>
			  </nav>
		   <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
				<div class="bg-color p-2">
					
					<a class="d-flex text-decoration-none align-items-center text-white">
						<i class="'fs-5 fa fa-guage"></i><span class="fs-6 display-4" >Dashboard</span>
						
					</a>
					<ul class="nav nav-pills flex-column mt-lg-4">
						<li class="nav-items mt-4">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-guage"></i><span class="fs-4 d-none d-sm-inline">dashboard 2</span>
							
							</a>

						</li>
						<li class="nav-items mt-3 py-2 py-sm-0">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-house"></i><span class="fs-4 d-none d-sm-inline">home</span>
							
							</a>

						</li>
						<li class="nav-items mt-3 py-2 py-sm-0">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-table-list"></i><span class="fs-4 d-none d-sm-inline">Article</span>
							
							</a>

						</li>
						<li class="nav-items mt-3 py-2 py-sm-0">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-table-list"></i><span class="fs-4 d-none d-sm-inline">product</span>
							
							</a>

						</li>
						<li class="nav-items mt-3 py-2 py-sm-0">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-users"></i><span class="fs-4 d-none d-sm-inline">customers</span>
							
							</a>

						</li>
						<li class="nav-items mt-3 py-2 py-sm-0">
							<a href="#" class="nav-link text-white">
								<i class="fs-4 ms-1 fa fa-clipboard"></i><span class="fs-4 d-none d-sm-inline">Orders</span>
							
							</a>

						</li>
					</ul>

				  </div>

				 <!-- <div class="dropdown-open p-3">
					<button class="btn border-name dropdown-toggle text-white" type="button" id="triggerId" data-aria-expanded="false">
						<i class="fas fa-user"></i><span class="ms-2">Andrew</span>
					</button>
						<div class="dropdown-menu" aria-labelledby="triggerId">
							<button class="dropdown-item" href="#">setting</button>
							<button class="dropdown-item" href="#">Profile</button>
						</div> -->
				</div> 
		    </div>	
		
					
		
         <!-- content -->
		    
		</div>

	
    </div>
	
	<!-- Main Content
	<div class="col-md-9 main-content">
		<h1>Welcome to my website!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dolor id mi fringilla varius. Suspendisse tristique metus et ante malesuada, sit amet faucibus eros bibendum. Donec ut lorem at massa sagittis tempor. Quisque sollicitudin lacus eget sapien posuere, sed dapibus nisi aliquet. Nullam vel tellus est. Vestibulum nec posuere quam, sit amet vulputate leo. Vestibulum pulvinar, nulla ac ultricies vestibulum, sapien velit auctor ex, ut rutrum lacus magna non enim. Nam ac libero elit. -->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>



